{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
{{else}}
  {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} m-nav__item js-nav-item">
      <a class="m-nav__link" href="{{url absolute="true"}}">{{label}}</a>
      {{!-- Submenu --}}
      <div class="m-submenu js-submenu">
        <div class="l-wrapper in-submenu">
          <section class="m-recent-articles">
            <h3 class="m-submenu-title in-recent-articles">{{t "Mới nhất"}}</h3>
            {{#get "posts" limit="4" order="published_at desc" filter="tag:{{slug}}" as |recent|}}
              {{#if recent}}
                <div class="glide js-recent-slider">
                  <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                      {{#foreach recent}}
                      <div class="glide__slide">
                        <a href="{{url}}" class="m-recent-article">
                          <div class="m-recent-article__picture {{#unless feature_image}}no-picture{{/unless}}">
                            {{#if feature_image}}
                              <img src="{{img_url feature_image size="s"}}" loading="lazy" alt="">
                            {{else}}
                              <img src="{{asset "images/no-image.png"}}" loading="lazy" alt="">
                            {{/if}}
                          </div>
                          <h3 class="m-recent-article__title js-recent-article-title" title="{{title}}">
                            {{title}}
                          </h3>
                          <span class="m-recent-article__date">{{date published_at timeago="true"}}</span>
                        </a>
                      </div>
                      {{/foreach}}
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="m-not-found in-recent-articles">{{t "No recent articles found :("}}</div>
              {{/if}}
            {{/get}}
          </section>
          <section class="m-tags">
            <h3 class="m-submenu-title">{{t "Chủ đề hot"}}</h3>
            {{#get "tags" limit="10" filter="description:{{slug}}+name:-{{slug}}"}}
              <ul class="m-submenu__tag-list">
                {{#foreach tags}}
                  <li class="m-submenu__tag-item">
                    <a class="m-submenu__tag-link" href="{{url}}">{{name}}</a>
                  </li>
                  {{else}}
                    <li class="m-not-found">{{t "No tags found :("}}</li>
                {{/foreach}}
              </ul>
            {{/get}}
          </section>
        </div>
      </div>
    </li>
  {{/foreach}}
{{/if}}
