{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
{{else}}
  {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} m-nav__item">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
  {{/foreach}}
{{/if}}
