{{! Secondary Navigation }}
{{#if isSecondary}}
  <li
    class="mr-2 px-4 cursor-pointer flex items-center self-center"
    id="header-secondary-nav"
  >
    <span class="icon-more" aria-hidden="true"></span>
    <div class="hidden" id="secondary-nav-template" aria-hidden="true">
      <ul>
        {{#foreach navigation}}
          <li
            class="text-secondary-subtle text-base rounded-sm hover:bg-secondary-nav-hover transition-colors"
          >
            <a
              href="{{url absolute=" true"}}"
              class="py-2 px-3 block"
            >{{label}}</a>
          </li>
          <li class="hidden">
            <ul class="js-mobile-navigation-template">
              <li>
                <a
                  href="{{url}}"
                  class="px-5 py-3 flex items-center border-t border-gray-300 dark:border-transparent dark:shadow-list-dark text-lg last:border-b"
                >
                  {{label}}
                </a>
              </li>
            </ul>
            <ul class="js-footer-secondary-navigation-template">
              <li
                class="first:mt-0 mt-1 tracking-wider relative after:absolute after:w-full after:h-[2px] after:bottom-0 after:right-0 after:bg-link after:scale-x-0 after:origin-bottom-right after:duration-300 hover:after:scale-x-100"
              >
                <a href="{{url}}">
                  {{label}}
                </a>
              </li>
            </ul>
          </li>
        {{/foreach}}
      </ul>
    </div>
  </li>

  {{! Primary Navigation }}
{{else}}
  {{#foreach navigation}}
    <li
      class="js-primary-navigation sm:mx-4 first:mt-0 mt-2 sm:mt-0 flex group items-center"
    >
      <a class="text-xl sm:font-bold" href="{{url absolute="true"}}">
        {{label}}
      </a>
      <nav
        class="js-submenu sm:fixed top-header-height left-0 w-full sm:pt-8 sm:px-10 sm:pb-6 border-t border-secondary-border dark:border-dark-secondary-border backface-visible bg-transparent sm:bg-background dark:bg-dark-background lg:opacity-0 lg:invisible sm:shadow-2xl transition-all ease-default duration-300 "

      >
        <div
          class="js-submenu-template container mx-auto lg:px-10"
          data-slug="{{#match slug "=" "phan-mem"}}software{{else}}{{slug}}{{/match}}"
        >
          {{! Slider }}
          <section>
            <header
              class="font-bold text-lg sm:text-xl mb-5 flex justify-between"
            >
              <h3>Mới nhất</h3>
              <aside class="flex">
                <button
                  class="js-submenu-swiper-prev flex items-center justify-center w-8 h-8 text-titles dark:text-dark-titles text-sm font-normal opacity-50 cursor-default"
                  aria-label="Bài viết trước"
                >
                  <span class="icon-arrow-left" aria-hidden="true"></span>
                </button>
                <button
                  class="js-submenu-swiper-next flex items-center justify-center w-8 h-8 ml-1 text-titles dark:text-dark-titles text-sm font-normal"
                  aria-label="Bài viết tiếp theo"
                >
                  <span class="icon-arrow-right" aria-hidden="true"></span>
                </button>
              </aside>
            </header>    
            {{#match slug "=" "phan-mem"}}
              {{#get
                "posts"
                limit="10"
                order="published_at desc"
                filter="tag:software"
                as |recent|
              }}                
                {{> common/submenu-slider recent=recent}}
              {{/get}}
            {{else}}
              {{#get
                "posts"
                limit="10"
                order="published_at desc"
                filter="tag:{{slug}}"
                as |recent|
              }}
                {{> common/submenu-slider recent=recent}}
              {{/get}}
            {{/match}}    
            
          </section>
          {{! Tags }}
          <section class="mt-4 sm:mt-8">
            <header class="font-bold text-lg sm:text-xl mb-5">
              <h3>Chủ đề hot</h3>
            </header>
            {{#get
              "tags"
              limit="all"
              filter="description:{{slug}}+name:-{{slug}}"
              include="count.posts"
              order="count.posts desc"
              as |tags|
            }}
              {{#if tags}}
                <ul class="flex flex-wrap gap-2">
                  {{#foreach tags limit="15"}}
                    <li>
                      {{>common/badge}}
                    </li>
                  {{/foreach}}
                </ul>
              {{else}}
                <span class="text-sm">Không có chủ đề nào :(</span>
              {{/if}}
            {{/get}}
          </section>
        </div>
      </nav>
    </li>
    <li class="hidden">
      <ul class="js-mobile-navigation-template">
        {{>mobile-menu/menu-item isPrimary="true"}}
      </ul>
      <ul class="js-footer-primary-navigation-template">
        <li
          class="first:mt-0 mt-1 tracking-wider relative after:absolute after:w-full after:h-[2px] after:bottom-0 after:right-0 after:bg-link after:scale-x-0 after:origin-bottom-right after:duration-300 hover:after:scale-x-100"
        >
          <a href="{{url}}">
            {{label}}
          </a>
        </li>
      </ul>
    </li>
  {{/foreach}}
{{/if}}