{{!
This subscribe template is used to display the form where users can subscribe.
You need to enable the members feature first.
}}

<form data-members-form="subscribe" id="newsletter-form" class="mt-10 md:mt-0">
  <div class="w-[18.75rem] mx-auto newsletter-form-input">
    <div class="">
      <label for="newsletter-input" class="sr-only">Email của bạn</label>
      <input
        data-members-email
        id="newsletter-input"
        class="rounded-md py-[0.65rem] px-5 outline-none w-full border border-primary-border"
        type="email"
        placeholder="Email của bạn"
        required
      />
    </div>
    <button
      id="newsletter-button"
      class=" relative w-full mt-5 text-white font-semibold text-base py-[0.65rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
      type="submit"
    >{{t "Đăng kí bản tin"}}</button>
  </div>
  <div class="newsletter-success-message flex-col items-center max-w-md">
    <img
      src="{{asset 'images/success.svg'}}"
      alt="Success!"
      class="w-16 h-16"
    />
    <p class="text-lg font-semibold text-center mt-3">
      {{t
        "Now check your inbox and click the link to confirm your subscription."
      }}
    </p>
  </div>
  <p class="newsletter-invalid-message mt-3 text-center">
    {{t "Please enter a valid email address"}}
  </p>
  <p class="newsletter-error-message mt-3 text-center">
    {{t "Oops! There was an error sending the email, please try later."}}
  </p>
</form>