{{! Social Buttons }}
<div class="flex justify-center h-full items-start">
  <aside
    class="fixed z-[9999] sm:!z-0 h-[50px] sm:h-unset bottom-[-1px] sm:bottom-auto left-0 sm:left-auto bg-background dark:bg-dark-background sm:bg-transparent w-viewport-width sm:w-auto sm:sticky sm:top-1/2 sm:-translate-y-1/2 flex flex-row-reverse sm:flex-col-reverse items-center justify-center sm:justify-end gap-3"
  >
    {{! Get Link }}
    <div
      class="js-social-button cursor-pointer shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm text-link transition-shadow duration-200 ease-in-out"
      data-label="Bình luận"
      id="social-comment-button"
    >
      <span class="icon-comments" aria-hidden="true"></span>
    </div>
    {{! Get Link }}
    <div
      class="cursor-pointer shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm text-link transition-shadow duration-200 ease-in-out"
      data-label="Lấy liên kết"
      data-clipboard-text="{{url absolute=" true"}}"
      id="social-link-button"
    >
      <span class="icon-link" aria-hidden="true"></span>
    </div>
    {{! Telegram }}
    <div
      class="js-social-button text-telegram shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm transition-shadow duration-200 ease-in-out"
      data-label="Chia sẻ với Telegram"
    >
      <a
        href="https://telegram.me/share/url?url={{url
          absolute=" true"
        }}&text={{encode title}}"
        class="w-full h-full flex items-center justify-center"
        target="_blank"
        rel="nofollow noopener"
      >
        <span class="icon-telegram" aria-hidden="true"></span>
      </a>
    </div>
    {{! Skype }}
    <div
      class="js-social-button shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm text-link transition-shadow duration-200 ease-in-out"
      data-label="Chia sẻ với Skype"
    >
      <a
        href="https://web.skype.com/share?url={{url absolute=" true"}}"
        class="w-full h-full flex items-center justify-center"
        target="_blank"
        rel="nofollow noopener"
      >
        <span class="icon-skype" aria-hidden="true"></span>
      </a>
    </div>
    {{! Facebook }}
    <div
      class="js-social-button text-facebook shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm transition-shadow duration-200 ease-in-out"
      data-label="Chia sẻ với Facebook"
    >
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{url
          absolute=" true"
        }}"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="w-full h-full flex items-center justify-center"
      ><span class="icon-facebook" aria-hidden="true"></span>
      </a>
    </div>
    {{! Twitter }}
    <div
      class="js-social-button text-twitter shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm transition-shadow duration-200 ease-in-out"
      data-label="Chia sẻ với Twitter"
    >
      <a
        href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url
          absolute=" true"
        }}"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="w-full h-full flex items-center justify-center"
      ><span class="icon-twitter" aria-hidden="true"></span>
      </a>
    </div>
    {{! Scroll Top }}
    <div
      class="js-social-button shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full overflow-hidden flex justify-center items-center text-sm text-link transition-shadow duration-200 ease-in-out"
      data-label="Lên đầu"
      id="progress-button"
    >
      <div class="w-full h-full relative cursor-pointer">
        <svg
          aria-hidden="true"
          class="absolute top-0 left-0 w-full h-full overflow-hidden fill-current"
        >
          <circle
            class="stroke-primary-subtle dark:stroke-dark-primary-subtle origin-center -rotate-90 transition-all duration-200"
            fill="transparent"
            r="0"
            id="progress-circle"
          ></circle>
        </svg>
        <span
          class="icon-arrow-top absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          aria-hidden="true"
        ></span>
      </div>
    </div>
    <applause-button
      multiclap="true"
      data-label="Like"
      class="js-social-button shadow-md hover:shadow-button-shadow-hover w-8 h-8 md:w-[3.125rem] md:h-[3.125rem] rounded-full flex justify-center items-center text-sm text-link dark:text-dark-link transition-shadow duration-200 ease-in-out relative overflow-visible cursor-pointer"
    >
    </applause-button>
  </aside>
</div>