
{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.8.3/dist/css/lightgallery.min.css">
{{/contentFor}}



{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{#post}}
{{! Post Featured Image }}
<figure class='relative h-mobile-hero-height md:h-hero-height'>
  <span class='responsive-img'>
    <img src='{{img_url feature_image}}' alt='{{title}}' />
  </span>
</figure>
{{! Post }}
<article class='pt-[60px] pb-10'>
  {{! Post Header }}
  <header class='text-center font-bold text-titles dark:text-dark-titles sm:max-w-[51.25rem] mx-auto'>
    <h1 class='sm:pt-3 sm:mb-5 text-3xl md:text-[2.625rem] leading-tight tracking-wide'>
      {{title}}
    </h1>
    <ul class='flex justify-center mt-10 flex-wrap gap-2'>
      {{#foreach tags}}
      <li class=>       
        {{> common/badge }}
      </li>
      {{/foreach}}
    </ul>
    {{#foreach authors}}
    <address class='mt-4 mb-7 text-center text-sm text-link dark:text-dark-link not-italic'>
      <span class=''>
        Đăng bởi {{name}}      
      </span>
      -
      <time datetime='{{published_at}}'>
        {{date published_at}}
      </time>
    </address>
    {{/foreach}}
  </header>
  {{! Post Content }}
  <div class='sm:mt-[3rem] flex items-stretch'>
    <div class="flex-grow-0 sm:flex-1 order-1 relative h-auto">
      {{> socials}}
    </div>
    <aside class="flex-grow-0 sm:flex-1 flex flex-col items-center">
    </aside>    
    <div class='post-content'>
      <div id='post-content' class='post-content dark:text-dark-titles mt-3'>
        {{content}}
      </div>      
    </div>  
  </div>  
  {{!-- Tags Section --}}
  <section class="md:w-post-content-width mx-auto mt-10 px-5 md:px-auto">
    <h3 class="font-bold text-2xl dark:text-dark-titles">Thẻ</h3>
    <ul class='flex flex-wrap mt-5 gap-2'>
      {{#foreach tags}}
        <li>
          {{>common/badge}}
        </li>
      {{/foreach}}
    </ul>
  </section>
  {{!-- Comment Section --}} 
  <section class="md:w-post-content-width mx-auto mt-20 px-5 md:px-auto">
    <h3 class="font-bold text-2xl dark:text-dark-titles">Bình luận</h3>
    <div id="remark42" class="mt-5"></div>
  </section>
</article>

{{!-- Related Posts--}}
{{> common/related-posts postTag=primary_tag.slug postID=id}}
{{/post}}

{{!-- Newsletter form --}}
{{#if @labs.members}}
  {{> common/newsletter}}
{{/if}}


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/vendor/lightgallery-all.min.js"}}"></script>
  <script defer src="{{asset "js/post.js"}}"></script>
  <script async src="https://sp.zalo.me/plugins/sdk.js"></script>
{{/contentFor}}