<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    {{#unless page}}
      <title>{{meta_title}}</title>
    {{else}}
      {{#page}}
        <title>{{meta_title}}</title>
      {{/page}}
    {{/unless}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{!-- Preload assets --}}
    <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
    <link rel="preload" href="{{asset "js/manifest.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor/content-api.min.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/app.js"}}" as="script" />
    <link rel="preload" href="{{asset "fonts/bungee/Bungee-Regular.ttf"}}" as="font" type="font/ttf" crossorigin/>
    <link rel="preload" href="{{asset "fonts/nunito/Nunito-Regular.ttf"}}" as="font" type="font/ttf" crossorigin/>
    <link rel="preload" href="{{asset "fonts/nunito/Nunito-Bold.ttf"}}" as="font" type="font/ttf" crossorigin/>
    <link rel="preload" href="{{asset "fonts/nunito/Nunito-SemiBold.ttf"}}" as="font" type="font/ttf" crossorigin/>
    


    {{!-- This #block helper will try to preload page-specific assets --}}
    {{{block "preload"}}}

    {{!-- Styles & Scripts --}}
    <style>
      /* These font-faces are here to make fonts work if the Ghost instance is installed in a subdirectory */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Nunito-Regular'),
            url("{{asset 'fonts/nunito/Nunito-Regular.ttf'}}");
      }

      /* source-sans-pro-600 */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: local('Nunito-SemiBold'),
            url("{{asset 'fonts/nunito/Nunito-SemiBold.ttf'}}");
      }

      /* source-sans-pro-700 */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: local('Nunito-Bold'),
            url("{{asset 'fonts/nunito/Nunito-Bold.ttf'}}");
      }

       @font-face {
        font-family: 'Paytone One';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: local('PaytoneOne-Regular'),
            url("{{asset 'fonts/paytone_one/PaytoneOne-Regular.ttf'}}");
      }

      /* iconmoon */
      @font-face {
        font-family: 'icomoon';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3'}}");
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3#iefix'}}") format('embedded-opentype'),
        url("{{asset 'fonts/icomoon/icomoon.ttf?101fc3'}}") format('truetype'),
        url("{{asset 'fonts/icomoon/icomoon.woff?101fc3'}}") format('woff'),
        url("{{asset 'fonts/icomoon/icomoon.svg?101fc3#icomoon'}}") format('svg');
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

    {{!-- This #block helper will inject a stylesheet for a specific page --}}
    {{{block "styles"}}}

    {{!-- This #block helper will pull data from the hero partial 
    to inject styles of the hero image to make it responsive --}}
    {{{block "herobackground"}}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This variable is used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      const ghostHost = "{{@site.url}}"
      // @license-end
    </script>
  </head>
  <body class="{{body_class}}">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      
    <main
      class="relative z-main bg-background dark:bg-dark-background"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <div class="container mx-auto lg:px-10 mt-10">
        {{{body}}}  
      </div>
    </main>

    {{!-- Search form --}}
    {{> search}}

    {{!-- The footer --}}
    {{> footer }}

    {{!-- Notifications alerts --}}
    {{!-- {{> "notifications"}} --}}

    {{!-- Common scripts shared between pages --}}
    <script defer src="{{asset "js/manifest.js"}}"></script>
    <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
    <script defer src="{{asset "js/vendor.js"}}"></script>
    <script defer src="{{asset "js/app.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
