<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    {{#unless page}}
      <title>{{meta_title}}</title>
    {{else}}
      {{#page}}
        <title>{{meta_title}}</title>
      {{/page}}
    {{/unless}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{!-- Pinterest --}}
    <meta name="p:domain_verify" content="b8b19664f6481fed1798daca87e8e655"/>
    {{!-- Preload assets --}}
    <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
    <link rel="preload" href="{{asset "js/vendor/content-api.min.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/app.js"}}" as="script" />
    <link rel="preload" href="{{asset "css/swiper.css"}}" as="style" />

    {{!-- This #block helper will try to preload page-specific assets --}}
    {{{block "preload"}}}

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/swiper.css"}}" media="screen" />

    {{!-- This #block helper will inject a stylesheet for a specific page --}}
    {{{block "styles"}}}

    {{!-- This #block helper will pull data from the hero partial 
    to inject styles of the hero image to make it responsive --}}
    {{{block "herobackground"}}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This variable is used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      const ghostHost = "{{@site.url}}"
      // @license-end
    </script>
    {{!-- Crisp chat bubble --}}
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="8317fc46-5799-4eb9-b439-0f7347be081c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    
  </head>
  <body class="{{body_class}} bg-background dark:bg-dark-background">
   <div class="flex flex-col justify-between min-h-screen">
    <!-- Header -->
    {{> header}}
    <!-- Body -->
    <div
      class="relative z-main bg-background dark:bg-dark-background"
    >
      {{{body}}}        
    </div>
    <!-- Footer -->
    {{> footer }}
    <!-- Search form -->
    {{> search}}
   </div>
    {{!-- Common scripts shared between pages --}}
    <script defer src="{{asset "js/manifest.js"}}"></script>
    <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
    <script defer src="{{asset "js/vendor.js"}}"></script>
    <script defer src="{{asset "js/app.js"}}"></script>
    {{!-- Ads --}}
    <script async="async" data-cfasync="false" src="//pl17048196.trustedcpmrevenue.com/11b95e0363ac678ff2623ebfb92ec3fe/invoke.js"></script>
    

    {{!-- The #block helper will pull in data from the #contentFor other template files --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
