
{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.8.3/dist/css/lightgallery.min.css">
{{/contentFor}}



{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{> header}}

{{#post}}
{{! Post Featured Image }}
<figure class='relative h-hero-height'>
  <span class='responsive-img'>
    <img src='{{img_url feature_image}}' alt='{{title}}' />
  </span>
</figure>
{{! Post }}
<article class='pt-[60px] pb-10'>
  {{! Post Header }}
  <header class='text-center font-bold text-titles sm:max-w-[51.25rem] mx-auto'>
    <h1 class='sm:pt-3 sm:mb-5 text-[2.625rem] leading-tight tracking-wide'>
      {{title}}
    </h1>
    <ul class='flex justify-center mt-10'>
      {{#foreach tags}}
      <li class='first:ml-0 ml-2'>
        <a href='{{url}}'>

          <span
            class='flex items-center justify-center text-link text-sm font-semibold bg-alter-link py-[0.1rem] px-2 rounded'>{{name}}</span>
        </a>
      </li>
      {{/foreach}}
    </ul>
    {{#foreach authors}}
    <address class='mt-4 mb-7 text-center text-sm text-link not-italic'>
      <span class=''>
        Đăng bởi
        <a>{{name}}</a>
      </span>
      -
      <time datetime='{{published_at}}'>
        {{date published_at}}
      </time>
    </address>
    {{/foreach}}
  </header>
  {{! Post Content }}
  <div class='sm:mt-[6rem] flex items-stretch'>
    <div class="flex-grow-0 sm:flex-1 order-1 relative h-auto">
      {{> socials}}
    </div>
    <div class="flex-grow-0 sm:flex-1"></div>    
    <div>
      <div id='post-content' class='post-content'>
        {{content}}
      </div>      
    </div>  
  </div>
  <section class="md:w-post-content-width mx-auto mt-10 px-5 md:px-auto">
    <h3 class="font-bold text-2xl">Thẻ</h3>
    <ul class='flex flex-wrap mt-5 gap-2'>
      {{#foreach tags}}
        <li>
          <a href='{{url}}'>
            <span
              class='flex items-center justify-center text-link text-sm font-semibold bg-alter-link py-[0.1rem] px-2 rounded'>{{name}}</span>
          </a>
        </li>
      {{/foreach}}
    </ul>
  </section>  
</article>
{{!-- Related Posts--}}
{{> common/related-posts postTag=primary_tag.slug postID=id}}
{{/post}}

{{#if @labs.members}}
  {{> common/newsletter}}
{{/if}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/vendor/lightgallery-all.min.js"}}"></script>
  <script defer src="{{asset "js/post.js"}}"></script>
  <script async src="https://sp.zalo.me/plugins/sdk.js"></script>
{{/contentFor}}
