{{#if recent}}
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {{#foreach recent}}
        <div class="swiper-slide h-auto">
          <a href="{{url}}" class="flex flex-col justify-between h-full">
            <header>
              <figure
                class="h-[10rem] sm:h-[8.125rem] relative overflow-hidden rounded-md"
              ><span
                  style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
                ><img
                    alt="{{title}}"
                    sizes="100vw"
                    src="{{img_url feature_image size="s"}}"
                    loading="lazy"
                    decoding="async"
                    class="hover:scale-110 transition-transform transition-fix ease-in-out duration-300"
                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                  /></span>
              </figure>
              <h4 class="mt-2 font-lg font-bold leading-2 line-clamp-2">
                {{title}}
              </h4>
            </header>
            <section class="mt-4 text-sm">
              <time datetime="{{published_at}}">{{date
                  published_at
                  timeago="true"
                }}</time>
            </section>
          </a>
        </div>
      {{/foreach}}
    </div>
  </div>
{{else}}
  <span class="text-sm">Không có bài viết mới nhất nào :(</span>
{{/if}}